<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Product</title>
</head>
<body>
<div align="center">
    <h1>Create New Module</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${module}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td><input type="hidden" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td>credit:</td>
                <td><input type="number" th:field="*{credit}" /></td>
            </tr>
            <tr>
                <td>coefficient:</td>
                <td><input type="number" th:field="*{coefficient}" /></td>
            </tr>
            <tr>
                <td>courshours:</td>
                <td><input type="number" th:field="*{courshours}" /></td>
            </tr>
            <tr>
                <td>tdhours:</td>
                <td><input type="number" th:field="*{tdhours}" /></td>
            </tr>
            <tr>
                <td>tphours:</td>
                <td><input type="number" th:field="*{tphours}" /></td>
            </tr>
            <tr>
                <td>tdhours:</td>
                <td><input type="number" th:field="*{tdhours}" /></td>
            </tr>
            <tr>
                <td>teacher firstname:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>teacher lastname:</td>
                <td><input type="text" th:field="*{lastname}" /></td>
            </tr>
            <tr>
                <td>teacher emailname:</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>